<button mat-raised-button (click)="addData()">Add Patients</button>
<mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">
  <ng-container matColumnDef="patientId">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Patient ID</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element._id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="patientName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.patientName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.age}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.gender}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="admissionDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Admitted On</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.createdAt | date:'longDate'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openEditDialog(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openDeleteDialog(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
<mat-dialog-content *ngIf="dataSource.data.length === 0">
  <p>No data available</p>
</mat-dialog-content>
